* {
  color: white;
}

.landingContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroMainText {
  font-size: 70px;
  margin-bottom: 20px;
}
.heroSubText {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.header {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 5px;
  width: 90px;
  height: 35px;
  border-radius: 10px;
  background-color: #1b2730;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: bold;
  transition: all 0.25s ease;
}

.signUpButton {
  background-color: #1da1f2;
}

button:hover {
  transform: scale(1.1);
  background-color: #263744;
}

.signUpButton:hover {
  background-color: #1da1f2;
}
